<form action="/">
<div class="obg">
    <div class="ajeita">
    <div>
    Muito obrigador por enviar
    </div>

    <div class="ajeita-btn">
        <a href="/">
        <button class="voltar">Voltar</button>
    </div>
    </div>
    
</div>
</form>